
.icon-menu:before { content: '\e800'; } /* '' */
.icon-xing:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-dribbble:before { content: '\f050'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
